############################
# BACKEND
############################

__pycache__/
.DS_Store
.venv/
*.mp4
*.env
embeddings/

############################
# FRONTEND
############################

frontend/node_modules
frontend/.next